/* INGREDIENTS */

.ingredients-section {
    background: #fafafa;
    padding: 20px;
}

.section-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.section-sub {
    color: #777;
    margin-bottom: 40px;
}

/* SLIDER */

.ingredient-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* CARD */

.ingredient-card {
    flex: 1;
    height: 420px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition:flex 0.4s ease;
}

.ingredient-card:hover {
    flex: 2;
}

.ingredient-card a {
    display: block;
    width: 100%;
    height: 100%;
}

/* IMG */

.ingredient-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    transition: filter 0.3s ease;
}

.ingredient-card:hover img {
    filter: brightness(85%);
}

/* GRADIENT */

.ingredient-card::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: linear-gradient(to top,
    rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,0.5) 50%,
    rgba(0,0,0,0) 70%);
}

/* TEXT */

.card-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px;
    color: white;
    z-index: 2;

    display: flex;
    flex-direction: column;
    transform: translateY(0);
    transition:transform 0.3s ease;
}

.card-overlay h3{
    margin: 5px 0;
    max-height: 15px;
}

.card-overlay p{
    opacity: 0;
    transform:translateY(10px);
    transition:all 0.3s ease;
}

.ingredient-card:hover .card-overlay p{
    opacity: 1;
    transform:translateY(15px);
}

.ingredient-card:hover .card-overlay{
    transform:translateY(-10px);
}

.latin {
    color: #74d10a;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

