/* INGREDIENTS */
.ingredients-section {
    /* background: #0F2412 or #0F1412 for dark mode */
    background: #fafafa;
    padding: 80px 0;
}

.section-title {
    font-size: clamp(2rem, 5vw, 4rem);
    /* color: #d9e0d7; for dark mode */
    color: #354024;
    text-align: center;
    margin-bottom: 10px;
}

.section-sub {
    /* color: #8b9c93; for dark mode */
    color: #777;
    text-align: center;
    margin-bottom: 50px;
}

/* SLIDER */

.ingredient-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 10px;
}

/* CARD */

.ingredient-card {
    flex-shrink: 0;
    width: 240px;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition:width 0.45s cubic-bezier(.23,1,.32,1);
}

.ingredient-card:hover {
    width: 420px;
}

.ingredient-card a {
    display: block;
    width: 100%;
    height: 100%;
}

/* IMG */

.ingredient-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    transition: filter 0.3s ease;
}

.ingredient-card:hover img {
    filter: brightness(85%);
}

/* GRADIENT */

.ingredient-card::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: linear-gradient(to top,
    rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,0.5) 50%,
    rgba(0,0,0,0) 70%);
}

/* TEXT */

.card-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px;
    color: white;
    z-index: 2;

    display: flex;
    flex-direction: column;
    transform: translateY(0);
    transition:transform 0.3s ease;
}

.card-overlay h3{
    margin: 5px 0;
    max-height: 15px;
}

.card-overlay p{
    opacity: 0;
    color: #bdbdbd;
    transform:translateY(10px);
    transition:all 0.3s ease;
}

.ingredient-card:hover .card-overlay p{
    opacity: 1;
    transform:translateY(15px);
}

.ingredient-card:hover .card-overlay{
    transform:translateY(-10px);
}

.latin {
    color: #74d10a;
    font-size: 13px;
    text-transform: uppercase;
}

